# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables
.env

# Angular
node_modules/
.angular/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db